<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon"
    href="https://cdn.discordapp.com/attachments/1169281771242786907/1169325842380365865/tp2.png?ex=6554fe8d&is=6542898d&hm=e0fe02ea3bfdc5f30900eac754c93f43d4d9b49d14b2fdc6c38dadd5576537dc&"
    type="image/x-icon">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
  <title>Just Broom</title>
  <!DOCTYPE html>
  <html>

  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

      * {
        margin: 0px;
        padding: 0px;
      }

      body {
        background-color: #1f2029;
        color: #fff;
        font-family: "Lato", sans-serif;
      }

      h1 {
        color: #f5e9cf;
        font-family: 'Arial', sans-serif;
      }

      .contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .box {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        margin: 1rem;
        background-color: #444;
        width: 300px;
        height: 300px;
      }

      .text {
        color: white;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        border-radius: 12px;
        transition: height 1s;
        padding: 0 1rem;
      }

      .text h3 {
        text-decoration: underline;
      }

      .box:hover .text {
        height: 100%;
      }

      .image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
      }

      .image img {
        height: 75vh;
        width: 75vw;
        object-fit: fill;
      }

      .left-text {
        margin-left: 10px;
      }

      .right-text {
        margin-right: 10px;
      }

      header {
        background-color: #000000;
        color: #fff;
        text-align: center;
        padding: 10px;
      }

      header {
        display: flex;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
        width: 100%;
      }

      .logo img {
        width: 50px;
        margin-right: 10px;
      }

      h1 {
        color: #fff;
        font-size: 24px;
        margin: 0;
      }

      h1 {
        margin: 0;
      }
    </style>
  </head>

<body>
  <header>
    <div class="logo">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169325842380365865/tp2.png?ex=6554fe8d&is=6542898d&hm=e0fe02ea3bfdc5f30900eac754c93f43d4d9b49d14b2fdc6c38dadd5576537dc&"
        alt="Logo">
    </div>
    <h1>JustBroom</h1>
  </header>
</body>

</html>
<br><br><br>

<div class="contain">
  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169283480937566321/1.png?ex=6554d71a&is=6542621a&hm=6a81756243eff7130819ad6341d3085de5e24f0127105697aff4d6ea5d10aa12&"
        class="img-fluid" width="100%" height="100%" alt="" />
      <div class="text">
        <h3>National Unity Day</h3>
        <p>
          National Unity Day is celebrated in India on 31st October. It was
          introduced by the Government of India in 2014. The day is
          celebrated to mark the birth anniversary of Sardar Vallabh Bhai
          Patel. This year marks the 145th birth anniversary of Sardar
          Vallabhbhai Patel. The official statement for National Unity Day
          by the Home Ministry of India cites that the National Unity Day
          "will provide an opportunity to re-affirm the inherent strength
          and resilience of our nation to withstand the actual and potential
          threats to the unity, integrity, and security of our country."
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169283591184863262/2.jpg?ex=6554d734&is=65426234&hm=b894b853718cbf5103421ef08dfd5432b8e9dda82a4a98f4ba3f7c3af38fdfb7&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>Uddeshya</h3>
        <p>
          In honor of National Unity Day, a day dedicated to commemorating
          the birth anniversary of the "Iron Man of India," Sardar
          Vallabhbhai Patel, we invite you to participate in a special quiz
          event that pays tribute to his extraordinary contributions to our
          great nation. Sardar Patel's vision of a united India continues to
          inspire and guide us, and this quiz is a perfect way to celebrate
          his legacy.
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169283668464910467/3.jpeg?ex=6554d746&is=65426246&hm=13b268918b200679163a7c82032c919113f6d79a5aff618abf4648aafe2cd2c0&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>ఐక్యత దిన సంక్షేమంఐక్యత దిన సంక్షేమం</h3>
        <p>
          On the occasion of Unity day, We SAHITI-TLA are planning to
          conduct an insightful online event " ఐక్యత దిన సంక్షేమం " on
          October 31st. Unity Day is a celebration of the collective
          strength that binds us together as a society. It's a day to
          recognize the importance of coming together, fostering
          understanding, and building a sense of community among us all. Our
          "ఐక్యత దిన సంక్షేమం" quiz is crafted to celebrate diversity,
          promote harmony, and encourage conversations that transcend our
          differences. We aim to create an atmosphere of inclusivity, where
          we can better understand each other and work together for the
          common good. This event will be conducted online so that a larger
          audience can be entertained from anywhere
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169283770843680778/4.jpeg?ex=6554d75f&is=6542625f&hm=562179d7a959bc7973913d2ae110ea46ad621c722a903ec2ed9ef59ac855861c&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>
          One Nation, One Vision: Photography Competition for National Unity
          Day
        </h3>
        <p>
          In celebration of National Unity Day on 31st October 2023, we
          invite all our creative and passionate minds to participate in our
          Poster Making Competition. This competition aims to foster a deep
          sense of unity and patriotism among our students and commemorate
          the birth anniversary of Sardar Vallabhbhai Patel, the Iron Man of
          India. Join us in celebrating National Unity Day through art and
          creativity. Let's come together to pay tribute to Sardar
          Vallabhbhai Patel and strengthen the bonds of unity that make our
          nation great.
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169283907963863163/5.png?ex=6554d77f&is=6542627f&hm=d2258ddfb1e9959dea23b56d21dd1c7089ab41dc6c742606f7a7c2210b7aad1b&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>World Thrift Day</h3>
        <p>
          World Thrift Day is celebrated every year on 31 October. In India,
          due to the death of the late Prime Minister Indira Gandhi on the
          same day in 1984, this day is being celebrated on 30th October.
          The day aims to promote the savings and financial security of
          individuals and nations as a whole. The aim of the day is to
          change the behavior of people towards saving and constantly remind
          them of the importance of wealth. Saving wealth helps to start a
          business, get a good education, and avail good healthcare
          treatment.
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284022409625600/6.jpeg?ex=6554d79b&is=6542629b&hm=18854e8d7935adb767ab87d37774cd2d0457190c1bd15759ed230a8d288fcfce&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>Fifth Pillar</h3>
        <p>
          Join us for an enlightening session that provides a platform for
          discussing responsible financial planning and aims to encourage
          prudent saving habits. Engage in a quiz to enhance your financial
          literacy and preparedness for the future.
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284221395816488/7.jpeg?ex=6554d7ca&is=654262ca&hm=7de0e9fc498507cc1145f03ffeebe275e53ac527f374e964bebfd7094b4dd500&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>pixelate</h3>
        <p>
          Pixtoberfest is an online event where students are encouraged to
          participate in Hacktoberfest with first ever design repositories
          created by the Design Club of VIT. It will be conducted in 4
          parts. Dive into UI/UX challenges, master design skills, and
          prepare for Hacktoberfest by contributing to open-source design
          projects.
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284289200914482/8.jpeg?ex=6554d7da&is=654262da&hm=61fd9ff34517c58f56be3493058ac475580f13d647ed2b553b904eca8834c062&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>SBE-VIT</h3>
        <p>
          Join us for Meet2Learn, an engaging seminar where our chapter
          members delve into intriguing research topics. This edition
          explores the "Anatomy of Taste Buds," uncovering the magic of
          taste and its biological importance. Additionally, we will unravel
          the mysteries of "The Walking Dead: Protozoan Parasites," shedding
          light on infection mechanisms and their effects. Take advantage of
          this chance to discover the fascinating world of science!
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284376618598491/9.jpeg?ex=6554d7ef&is=654262ef&hm=cc8dbb7d036e2265b68273fa7dff3dd60b8d9b48857fe138d49b097acd1068c4&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>Indian Society for Technical Education</h3>
        <p>
          Join us for an enlightening webinar where we delve into the
          crucial topic of substance abuse, with a particular emphasis on
          its impact on our youth. Our primary mission is to raise awareness
          about the detrimental effects of substance abuse. We are honored
          to have Dr. Yasmine Ayesha, MBBS, a distinguished General
          Practitioner, as our guest speaker. She will provide profound
          insights into how individuals can fall prey to the clutches of
          addiction and, more importantly, how this tenacious habit can be
          reversed through the formidable power of unwavering
          determination.We invite you to be part of this transformative
          discussion.
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284481937588264/10.jpeg?ex=6554d808&is=65426308&hm=faac9197d6c051a683dc8f41e762581aebec7435120ac233c9a478291e5e36f3&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>IEEE PCS(Professional Communication Society)</h3>
        <p>
          Join us for "Campus to corporation", featuring Shubham Srivastava,
          who has excelled at Microsoft, contributed to student recruitment,
          and currently thrives at Hotstar. This event offers invaluable
          insights into these tech giants, how they recruit top talent, and
          a comprehensive guide to placements. Our speaker, with experience
          on both sides of the recruitment process, will share strategies
          for securing coveted job opportunities. Whether you're a current
          student, or someone aiming to embark on a successful career, this
          is your opportunity to connect, learn, and be inspired. Don't miss
          this chance to gain expert insights and network with who have
          blazed a trail to success. Your journey to a successful career
          begins here!
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284598363074600/11.jpeg?ex=6554d824&is=65426324&hm=2565b1d1fd5558b588f60b6ce852be1f60afa1e0c63b60665ec6f497cc08e6dd&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>IEEE COMPUTER SOCIETY (IEEE CS)</h3>
        <p>
          The legacy Event of Tech - Niche of IEEE CS, once again brings the
          opportunity to students to share their knowledge for a greater
          purpose. This time we go with: "Large Language Models"
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284757822115890/12.jpeg?ex=6554d84a&is=6542634a&hm=f4d0e4c24938656d97d3ec361504088488433d584e6240b5f11fe252e6ae203b&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>
          Celebrating the unsung hero: Veerapandiya Kattabomman (Movie
          screening)
        </h3>
        <p>
          Celebrating the unsung hero: Veerapandiya Kattabomman, PB-TLA
          plans to screen a movie collaborating with the VIT film society
          and we welcome everyone to watch the powerful documentary that
          pays tribute to the courageous leader who fought for freedom and
          justice. We're delighted to have you join us in this journey of
          understanding the struggles of this remarkable man who dedicated
          himself to the cause of liberty. Let's watch this film together!
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284838650556506/13.jpeg?ex=6554d85d&is=6542635d&hm=3015634af7dfe1d1213b2c3a0544ab88e03b5ac2bcfa3dc852a2764679f6ce05&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>A Deep Dive Into The World Of ML/DS</h3>
        <p>
          Interested to build a career in machine learning and data science?
          Or curious to know about it? Here is your chance!! Explore the
          World of Machine Learning and Data Science with Kinshuk Dua,
          ML/Security Engineer at Flipkart, in an online session on October
          29th at 5 pm. Discover ML algorithms, career paths, project
          strategies, and engage in a Q&A. Don't miss out!
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284936247820390/14.jpeg?ex=6554d875&is=65426375&hm=8ac7c332465356865b2dabc4f36650a47635f06d744cc8b922940a369b366cd2&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>Evolving Energy: The Power Behind Electric Mobility</h3>
        <p>
          Join us at "Evolving Energy" for an insightful journey into the
          world of battery technologies driving electric vehicles (EVs).
          This event is your window to the cutting-edge innovations and
          future horizons of electric mobility. We're bringing together
          leading industry experts, researchers, and visionaries to
          illuminate the heart of the EV revolution. Explore the present and
          future of EV batteries, from trusted lithium-ion to revolutionary
          solid-state technologies and energy-dense alternatives. Dive into
          the science, engineering, and eco-friendly practices shaping
          tomorrow's electric vehicles. From breakthroughs in battery
          chemistry to eco-conscious practices and grid integration, we'll
          cover it all. Our renowned speakers will tackle key questions and
          chart the course for the EV industry's future.
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img
        src="https://cdn.discordapp.com/attachments/1169281771242786907/1169284949644423248/15.jpeg?ex=6554d878&is=65426378&hm=97b043465d8ef268740d49aba6ef702a77ab0c5bec1049554db366d76dcb75af&"
        class="img-fluid" width="100%" alt="" />
      <div class="text">
        <h3>Auto Trivia</h3>
        <p>
          Speed, Precision, and Victory - that's the Andretti Autosport way!
          With a legacy of motorsport excellence, this team has been an
          indomitable force on the racetrack, capturing hearts and checkered
          flags alike. From the roar of the engines to the strategic
          brilliance behind each race, Andretti Autosport is a symphony of
          dedication and passion. Whether it's IndyCar, Formula E, or any
          other competition, they've consistently pushed the limits of
          performance. The pursuit of greatness is woven into their DNA, and
          as fans, we're privileged to witness their relentless drive to
          victory. Join the Andretti journey, where every turn is a
          testament to their relentless spirit.
        </p>
      </div>
    </div>
  </div>
</div>
</body>

</html>